<a href="https://colab.research.google.com/github/rupakbairagi/ML-Projects/blob/main/logistic_regression_marital_status.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
files.upload()

Saving marital status.csv to marital status.csv

{'marital status.csv': b'age,status\r\n21,0\r\n33,1\r\n24,0\r\n28,1\r\n17,0\r\n33,1\r\n23,0\r\n30,0\r\n29,1\r\n22,0\r\n26,1\r\n20,0\r\n22,0\r\n24,NaN\r\n34,1\r\n29,1\r\n16,0\r\n18,0\r\n26,1\r\n25,1\r\n'}

# New Section

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df=pd.read_csv('marital status.csv')

In [ ]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     NaN
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [ ]:
df.isnull().sum()

age       0
status    1
dtype: int64

In [ ]:
med=df.status.median()

In [ ]:
med

0.0

In [ ]:
df.status=df.status.fillna(med)

In [ ]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     0.0
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [ ]:
df['status'].value_counts()

0.0    11
1.0     9
Name: status, dtype: int64

In [ ]:
x=df[['age']]
y=df['status']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain, xtest, ytrain, ytest= train_test_split(x,y, test_size=.30)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
model=LogisticRegression()

In [ ]:
model.fit(xtrain, ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
model.predict(xtest)

array([0., 1., 0., 1., 0., 0.])

In [ ]:
model.predict([[90]])

array([1.])

In [ ]:
model.score(xtest,ytest)

1.0

In [ ]:
model.predict_proba(xtest)

array([[0.83380095, 0.16619905],
       [0.46311413, 0.53688587],
       [0.7636243 , 0.2363757 ],
       [0.18720458, 0.81279542],
       [0.67535326, 0.32464674],
       [0.96686373, 0.03313627]])

In [ ]:
ytest

9     0.0
10    1.0
6     0.0
15    1.0
13    0.0
17    0.0
Name: status, dtype: float64